
.im_eq {                     /*Important equations*/
  position:relative;
  border-left:blue solid 5px;   /*I love this design! maybe change the color*/
  border-radius: 3px;
  background-color: lightgray;  /*change this color too*/
  padding: 10px;
  margin:30px;
  text-align:center;          /*need new font-family*/
}

.im_note {                     /*Important Notation*/
  position:relative;
  border-left:red solid 5px;   /*I love this design! maybe change the color*/
  border-radius: 3px;
  background-color: lightgray;  /*change this color too*/
  padding: 10px;
  margin:30px;
  text-align:center;
}

.im_def {                     /*Important Definitions*/
  position:relative;
  border-left:green solid 5px;   /*I love this design! maybe change the color*/
  border-radius: 3px;
  background-color: lightgray;  /*change this color too*/
  padding: 10px;
  margin:30px;
  text-align:center;
}

.im_what {                     /*Important....whatever. No color-side*/
  position:relative;
  border-radius: 3px;
  background-color: lightgray;  /*change this color too*/
  padding: 10px;
  margin:30px;
  text-align:center;
}

.sm_note {                /*ps note*/
  font-size: 0.6em;       /*居然真的有乘起来的效果！哈哈！*/
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.nav_item {
  float: left;
  margin: 5px;
  padding: 0px 20px;
  text-align: center;
  line-height: 65px;
  /*font*/
  /*remove hyperlink style*/
}

.nav_item.active {
  border-bottom: lightgray solid 0.2em;
}

.header {
  /*padding: 30px 0px;*/
  height: 70px;
}

.headerelem {

}

#logo {
  border-radius: 50%;
  float: left;
  background-color: gray;
  width: 50px;
  height:50px;
  text-align: center;
  font: italic 1.7em Georgia;
  color: white;
  margin: 10px 20px; /*如何根据目前的size来改呢*/
  line-height: 50px; /*to center text vertically*/
}

#title {
  height:35px;
  padding:3px;
  font:2em Georgia;
}

#trd_title {
  height:25px;
  font-family: Georgia;
}

#date {                       /*title date*/
  color: gray;
}

#nav  {
  list-style-type: none;
  margin: 0px;
}

.clear {                        /*clear floating*/
  clear:both;
}

.content {                      /*place content at the middle*/
  margin: auto;                 /*现在缺乏的是resize时的调整*/
  width: 60%;                   /*alternative 60-65%*/
  padding-top: 30px;
}

body {
  margin: 0;
  padding: 0;
}
