
.im_eq {                     /*Important equations*/
  position:relative;
  border-left:blue solid 5px;   /*I love this design! maybe change the color*/
  border-radius: 3px;
  background-color: lightgray;  /*change this color too*/
  padding: 10px;
  margin:30px;
  text-align:center;          /*need new font-family*/
}

.im_note {                     /*Important Notation*/
  position:relative;
  border-left:red solid 5px;   /*I love this design! maybe change the color*/
  border-radius: 3px;
  background-color: lightgray;  /*change this color too*/
  padding: 10px;
  margin:30px;
  text-align:center;
}

.im_def {                     /*Important Definitions*/
  position:relative;
  border-left:green solid 5px;   /*I love this design! maybe change the color*/
  border-radius: 3px;
  background-color: lightgray;  /*change this color too*/
  padding: 10px;
  margin:30px;
  text-align:center;
}

.im_what {                     /*Important....whatever. No color-side*/
  position:relative;
  border-radius: 3px;
  background-color: lightgray;  /*change this color too*/
  padding: 10px;
  margin:30px;
  text-align:center;
}


.title {                  /*title group, need a pixel-perfect position*/
  margin: 0px;
  padding:0px;
}

.sm_note {                /*ps note*/
  font-size: 0.6em;       /*居然真的有乘起来的效果！哈哈！*/
  font-style: italic;
}

.bold {
  font-weight: bold;
}

#fst_title {
  float: left;
  width: 15%;
  height:60px;
  text-align: center;
  font: italic 3.25em Georgia;
  padding-left: 10%;
}

#snd_title {
  height:35px;
  padding:3px;
  font:2em Georgia;
}

#trd_title {
  height:25px;
  font-family: Georgia;
}

#date {                       /*title date*/
  position:absolute;
  right: 15%;
}

.clear {                        /*clear floating*/
  clear:both;
}

#content {                      /*place content at the middle*/
  margin: auto;                 /*现在缺乏的是resize时的调整*/
  width: 60%;                   /*alternative 60-65%*/
  padding-top: 30px;
}

body {
  margin:15px;
  padding: 0;
}
